/*The header*/
.following-header{
    display: flex;
    width: 100vw;
    height: 16.5vh;
    background-color: #212121;
    align-items: last baseline;
    padding: 0px 5px;
}
.following-header-title{
    font-size: 40px;
    font-weight: bolder;
}

/*Edits the box containing the scroll bar*/
.following-header-scroll-container{
    display: flex;
    overflow-y: hidden;
    overflow-x: hidden;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
    flex-direction: row;
    gap: 20px;
    width: calc(100vw - 20px);
    height: 5vh;
    background-color: #212121;
}
.following-header-scroll-container::-webkit-scrollbar {
    display: none; /* WebKit */
}
.following-header-scroll-container button{
    color: white;
    white-space: nowrap;
    background: none;
    border: none;
    font-size: 20px;
    font-weight: bold;
}
.following-header-scroll-container button:hover{
    text-decoration: underline;
    text-decoration-color: #5DD1F5;
    text-decoration-thickness: 2.5px;
    text-underline-offset: 5px;
    cursor: pointer;
}

/*Following content*/
.following-content {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 73.5vh;
    align-items: flex-start; /* or center, baseline, etc. */
    padding: 0px 5px;
}
.following-content-container{
    display: grid;
    width: 50%;
    height: 100%;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(5, 1fr);
    align-items: center;      /* vertical centering */
    justify-items: center;    /* horizontal centering */
    overflow-y: auto;
    scrollbar-width: none;
    padding: 5px 5px;
    gap: 5px;
    background-color: pink;
}

/*RESET BUTTON*/
.reset-button{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    padding: 10px 10px;
    background-color: maroon;
}
.reset-button:hover{
    opacity: 75%;
    cursor: pointer;
}